# Dependencies
node_modules

# ENV
.env
.test.env

# Production
build
/generated/prisma

/prisma/generated/prisma

/generated/prisma

/generated/prisma

/prisma/generate/prisma

/prisma/generated/prisma
